body{
    background-color:rgb(156, 17, 117);
}
.introduction{
    display:flex;
    justify-content: center;
    font-size: 5em;
    text-decoration: underline;
    font-family:monospace;
    color:white;
    padding-top:10px;
    user-select: none; 
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    cursor:pointer;
}
.container{
    height:500px;
    width:1000px;
    background-color: white;
    margin-left:250px;
    margin-top:50px;
}
.img{
    display:flex;
    justify-content: center;
    cursor: pointer;
}
#image{
    height:100px;
    width:100px;
}
.info{
    text-align: center;
    font-weight: bolder;
    font-size:30px;
    padding-top:10px;
}
#amount{
    text-align: center;
}
#item01{
    font-size: large;
    font-weight: bold;
}
#item02{
    width:200px;
    height:50x;
    padding:10px;
    font-size:18px;
    border-radius: 5px;
    border:2px solid #007bff;
}
.footer{
    display: flex;
    justify-content: center;
    color:white;
    font-weight: bolder;
    margin-top:50px;
}
#footer01{
    color:white;
}
#footer01:hover{
    color:black;
}
.dropdowns,.button,.display{
    display:flex;
    justify-content: center;
    margin-top:30px;
}
#to-country-select{
    margin-left:20px;
}
#item05{
    height:50px;
    width: 150px;
    font-size: 30px;
}
#item05:hover{
    background-color: black;
    color:white;
    cursor: pointer;
}
#item06{
    font-size:25px;
}
@media (max-width: 767px){
    #header{
        text-align:center;
        font-size: 5px;
    }
    .container{
        height:500px;
        width: 200px;
        
    }
    #image{
        height: 40px;
        width: 40px;
        text-align: center;
    }
    .info,#item01{
        font-size:10px;
    }
    #item02,#item06{
        width:30px;
    }
}